
:root {
  --main-color-1: #ffaa74;
  --main-color-2: #ffceae;
  --main-color-3: #ffdfca;
  --main-color-4: #fee6e6;
  --blue-color: #4D96FF;
  --red-color: #FF6B6B;
  --green-color: #6BCB77;
  --purple-color: #BC7FCD;
}